# Mi .gitignore

Apartado1/output/fastqc_results/*
!Apartado1/output/fastqc_results/*fastqc.html
Apartado1/output/hisat2/index
Apartado1/output/hisat2/results/SRR479052/*
!Apartado1/output/hisat2/results/SRR479052/*hisat2.summary
Apartado1/output/hisat2/results/SRR479054/*
!Apartado1/output/hisat2/results/SRR479054/*hisat2.summary
Apartado1/output/hisat2/*.txt
Apartado1/output/picard
Apartado1/output/multiqc_report/*
!Apartado1/output/multiqc_report/*.html

Apartado1/output_BBDuk/BBDuk_results/
Apartado1/output_BBDuk/fastqc_results/trimmed/
Apartado1/output_BBDuk/fastqc_results/non-trimmed/*
!Apartado1/output_BBDuk/fastqc_results/non-trimmed/*.html
Apartado1/output_BBDuk/hisat2/index
Apartado1/output_BBDuk/hisat2/results/SRR479052/*
!Apartado1/output_BBDuk/hisat2/results/SRR479052/*hisat2.summary
Apartado1/output_BBDuk/hisat2/results/SRR479054/*
!Apartado1/output_BBDuk/hisat2/results/SRR479054/*hisat2.summary
Apartado1/output_BBDuk/hisat2/*.txt
Apartado1/output_BBDuk/multiqc_report/*
!Apartado1/output_BBDuk/multiqc_report/*.html

trimmomatic*/
Trimmomatic*

Apartado2/figures
Apartado2/Apartado2_DEGtask.R
Apartado2_DEGtask_files/
.Rproj.user
